{
  "extends": "react-app",
  "rules": {
    "eqeqeq": "off",
    "no-extend-native": "off",
    "no-unused-vars": "off",
    "array-callback-return": "off",
    "react/no-direct-mutation-state": "off"
  }
}
