@import "../../../core/scss/index";

:root {
  --bg-top: #232323;
  --cl-top: var(--cl-white);
  --bg-bottom: #232323;
  --cl-bottom: var(--cl-white);
  --logo-height: 100%;
  --top-row-height: 88px;
  --cl-highlight: var(--cl-purple);
}

body {
  @include layouts();
  @include colors();
  @include fonts();
  @include logo();
  @include input-text();
  .logo {
    margin-left: 24px;
  }
}
