<form method="post">
  <input type="hidden" name="username" value="<% username %>" disabled/>
  <input type="hidden" name="token" value="<% token %>" disabled/>
  <input type="password" name="password" value="" placeholder="New Password"/>
  <input type="password" name="confirmed" value="" placeholder="Confirm Password"/>
  <button>Change Password</button>
</form>
