@import "../../scss/index";

.page.page-{{ pname }}.page-{{ pname }}-{{ page }} {
  > h3 {
    border: none;
    text-shadow: 1px 3px 8px;
    justify-content: center;
  }
  .page-content {
    .wrapper {
    }
  }
}
