$font-family: roboto-condensed, sans-serif;
$font-size: 14px;
$line-height: 20px;

$left-col-width: 280px;
$right-col-width: 280px;
$top-row-height: 80px;

$scrollbar-border: 0 solid #506b71;
$scrollbar-size: 1px;
$scrollbar-bg: transparent;
$scrollbar-thumb-bg: #506b71;
$scrollbar-thumb-border: none;
$scrollbar-track-bg: transparent;
$scrollbar-track-border: none;
$scrollbar-btn-bg: transparent;

$cl-red: #ff6464;
$cl-green: #51aa66;
$cl-blue: #06a4df;
$cl-yellow: #f8d800;
$cl-purple: #974b96;
$cl-brown: #4a3827;
$cl-brownl: #44392d;
$cl-brownd: #0e0704;
$cl-black: #000000;
$cl-grey: #505050;
$cl-lightgrey: #ebebeb;
$cl-white: #ffffff;
$cl-highlight: $cl-blue;

$bg-body: #f0f0f0;
$cl-text: $cl-black;
$bg-top: $bg-body;
$cl-top-text: $cl-text;
$bg-bottom: $bg-body;
$cl-bottom-text: $cl-text;
$bg-left: $bg-body;
$cl-left-text: $cl-text;
$bg-right: $bg-body;
$cl-right-text: $cl-text;
$bg-main: $bg-body;
$cl-main-text: $cl-text;
$cl-error: $cl-red;

$logo-width: 140px;
$logo-height: 49px;

$form-el-height: 32px;

$input-font-size: 14px;
$input-line-height: $form-el-height;
$input-padding: 0 4px;
$input-text-color: #000000;
$input-bg-color: #ffffff;
$input-border: 1px solid;
$input-border-radius: 6px;
$input-box-shadow: 1px 1px 6px $cl-black;
$input-box-shadow-hover: 1px 1px 2px $cl-black;

$textarea-font-size: $input-font-size;
$textarea-line-height: $input-line-height;
$textarea-padding: $input-padding;
$textarea-text-color: $input-text-color;
$textarea-bg-color: $input-bg-color;
$textarea-border: $input-border;
$textarea-border-radius: $input-border-radius;
$textarea-box-shadow: $input-box-shadow;
$textarea-box-shadow-hover: $input-box-shadow-hover;

$select-font-size: $input-font-size;
$select-line-height: $input-line-height;
$select-padding: $input-padding;
$select-text-color: $input-text-color;
$select-bg-color: $input-bg-color;
$select-border: $input-border;
$select-border-radius: $input-border-radius;
$select-box-shadow: $input-box-shadow;
$select-box-shadow-hover: $input-box-shadow-hover;

$btn-font-size: 20px;
$btn-line-height: $input-line-height;
$btn-padding: 0 12px;
$btn-text-color: #ffffff;
$btn-bg-color: #333333;
$btn-border: $input-border;
$btn-box-shadow: 1px 2px 6px $btn-text-color;
$btn-box-shadow-hover: 1px 2px 2px $btn-text-color;
