body {
  @include vertical-scrollbar();
  font-family: $font-family;
  font-size: $font-size;
  font-feature-settings: "liga";
  line-height: $line-height;
  color: white;
  background-color: #121316;
  word-break: break-word;
  text-overflow: ellipsis;
  iframe {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 300;
  }
  h1 {
    line-height: 46px;
    font-size: 38px;
    font-weight: 600;
  }
  h2 {
    line-height: 38px;
    font-size: 32px;
    font-weight: 600;
  }
  h3 {
    line-height: 32px;
    font-size: 26px;
    font-weight: 500;
  }
  h4 {
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
  }
  h5 {
    line-height: 24px;
    font-size: 16px;
  }
  a {
    color: #06a4df;
  }
  .notifications {
    position: fixed;
    top: $top-row-height;
    right: 0;
    height: calc(100% - 170px);
    overflow: auto;
    border-radius: 4px;
    .notification {
      padding: 12px 24px;
      margin-top: 4px;
      margin-right: 12px;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      cursor: pointer;
      min-width: 250px;
      min-height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 2px 3px white;
      position: relative;
      &.error {
        background-color: #c6002e;
      }
      &:hover:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .space {
    flex: 1;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .searchbar {
    border-radius: 30px;
    height: 36px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url(/brenntag/assets/search.png);
    padding: 0 12px 0 36px;
    display: flex;
    align-items: center;
    input {
      width: 180px;
      background-color: transparent;
      color: white;
    }
  }
  form,
  input,
  textarea {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 13px;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"] {
    height: 28px;
    padding: 0 4px;
  }
  select {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 13px;
    border-radius: 0;
    border: 1px solid;
    height: 28px;
  }
  * {
    box-sizing: border-box;
  }
  .checkboxfield {
    display: flex;
    align-items: center;
  }
  .inputfield {
    width: 100%;
    label {
      display: block;
      margin-bottom: 6px;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 12px;
      border: 1px solid #565659;
      background-color: #1c1f23;
      border-radius: 3px;
      overflow: hidden;
      height: 44px;
      &:hover,
      &:focus {
        background-color: #ffffff;
        color: #000000;
      }
    }
    textarea {
      height: 7080pxpx;
    }
  }
  .fixed {
    position: fixed;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    > .fit {
      flex: 1;
      width: auto;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &.center {
      justify-content: center;
    }
    &.left {
      justify-content: flex-start;
    }
    &.right {
      justify-content: flex-start;
    }
    &.middle {
      align-items: center;
    }
    &.top {
      align-items: flex-start;
    }
    &.bottom {
      align-items: flex-end;
    }
  }
  .vertical {
    display: flex;
    flex-direction: column;
    > .fit {
      flex: 1;
      height: auto;
    }
    &.reverse {
      flex-direction: column-reverse;
    }
    &.center {
      align-items: center;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
    &.middle {
      justify-content: center;
    }
    &.top {
      justify-content: flex-start;
    }
    &.bottom {
      justify-content: flex-end;
    }
  }
  .btn {
    border: 1px solid #3e3e3e;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: inherit;
    font-size: 20px;
    // font-weight: bold;
    min-width: auto;
    min-height: 36px;
    padding: 0 12px;
    background-color: #333333;
    cursor: pointer;
    .span:first-child {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      margin-right: 8px;
    }
    .image-icon {
      width: 14px;
      margin-right: 4px;
    }
    &.no-name {
      padding: 0;
      width: 36px;
      svg {
        margin-right: 0;
      }
      i:before {
        margin-right: 0;
      }
    }
    &.bold {
      height: 32px;
    }
    &.small {
      &.circle {
        height: 24px;
        width: 24px;
        font-size: 10px;
      }
    }
    &.circle {
      border-radius: 50%;
      min-width: auto;
      height: 36px;
      width: 36px;
      min-height: auto;
      padding: 0;
      i:before {
        margin-right: 0;
      }
    }
    &.nopadding {
      padding: 0;
    }
    &.transparent,
    &.transparent:hover {
      cursor: text;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    &.freecolor {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
    &.green {
      color: #eff8f3;
      background-color: #51aa66;
      &:hover {
        background-color: #eff8f3;
        color: #51aa66;
      }
    }
    &.red {
      color: #ff6464;
      &:hover {
        background: #ff6464;
        color: black;
      }
    }
    &.bgred {
      color: #fcf2f2;
      background-color: #f07874;
      &:hover {
        color: #f07874;
        background-color: #fcf2f2;
      }
    }
    &.yellow {
      color: black;
      background-color: #f8d800;
      border-color: #f8d800;
      &:hover {
        color: white;
        background-color: #f8d800;
      }
    }
    &.uppercase {
      text-transform: uppercase;
    }
    i:before {
      margin-right: 12px;
    }
    &:hover {
      box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.7);
      background-color: #00b3c8;
      color: black;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    &.no-overlay {
      position: initial;
      top: initial;
      right: initial;
      bottom: initial;
      left: initial;
      z-index: initial;
    }
    &.popup {
      background-color: rgba(0, 0, 0, 0.7);
      .wrapper {
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 2px black;
        display: flex;
        flex-direction: column;
        .header {
          @include flex-height(36px);
          background-color: #333333;
          display: flex;
          position: relative;
          padding: 0 4px;
          margin: 0 0;
          .btn {
            @include flex-width(24px);
            @include flex-height(24px);
            border: none;
            margin: 0 4px;
          }
          .actions {
            position: absolute;
            top: calc(50% - 12px);
            right: 4px;
          }
        }
        .content {
          background-color: #676767;
          padding: 8px 16px;
          flex: 1;
        }
        &:hover {
          box-shadow: 0 0 3px white;
        }
      }
      &.maximize {
        .wrapper {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
