@import "../../../../core/scss/mixins";

.page.page-home-main {
  $space: 56px;
  background: #525659 url(/apps/oftien/assets/bg1.png) no-repeat center bottom;
  background-size: cover;
  padding: 24px 0;
  h2,
  h3 {
    color: #000;
    text-transform: uppercase;
    margin: 0 0 8px;
  }
  h4 {
    color: #000;
    margin: 0 0 8px;
  }
  .heading {
    .name {
    }
    .role {
      margin: 0 12px;
      display: inline-block;
      padding-left: 12px;
      border-left: 1px solid;
      &:after {
        content: ",";
      }
    }
    .period {
      opacity: 0.6;
      font-size: 13px;
    }
  }
  .layout {
    @include flex-width(1024px);
    background-color: white;
    padding: $space $space;
    box-shadow: 0 0 8px white;
    color: #505050;
    &.cols > .content {
      .main {
        .wrraper {
          margin-right: $space;
          > div:first-child {
            font-weight: 600;
            position: relative;
            padding-bottom: $space;
            .avatar {
              @include flex-width(120px);
              height: 120px;
              border-radius: 50%;
              background-image: url(/apps/oftien/assets/avatar.png);
              background-repeat: no-repeat;
              background-position: 0px -18px;
              background-size: 120px auto;
              margin-right: 24px;
            }
            .intro {
              font-weight: 400;
            }
            .quote {
              font-weight: 400;
              opacity: 0.6;
              &:before {
                content: "*** + ";
              }
              &:after {
                content: " ... ***";
              }
            }
            &:after {
              position: absolute;
              bottom: 0;
              content: "";
              display: block;
              height: 5px;
              width: 100%;
              background-color: #505050;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .right {
      @include flex-width(210px);
      .wrraper {
        > div:first-child {
          height: 176px;
          position: relative;
          padding-top: 0px;
          display: flex;
          flex-direction: column;
          > * {
            display: block;
            margin-bottom: 4px;
          }
          &:after {
            position: absolute;
            bottom: 0;
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            background-color: #ebebeb;
            border-radius: 5px;
          }
        }
      }
    }
    .section {
      h3 {
        margin: $space 0 16px;
      }
    }
    .block {
      margin-bottom: 12px;
      h4 {
      }
    }
  }
}
