@import "../../../../core/scss/mixins";

$space: 56px;
$overview-h: 125px;
$cl-bg: #525659;
$cl-highlight: #06a4df;
$cl-dark: #000;
$cl-grey: #505050;
$cl-lightgrey: #ebebeb;
.page.page-home-main {
  background: $cl-bg url(/apps/oftien/assets/bg1.png) no-repeat center bottom;
  background-size: cover;
  padding: 4px 0;
  a {
    color: $cl-highlight;
  }
  h2 {
    color: $cl-dark;
    text-transform: uppercase;
    margin: 0 0 8px;
  }
  h3 {
    color: $cl-highlight;
    text-transform: uppercase;
    margin: 0 0 8px;
  }
  h4 {
    color: $cl-dark;
    margin: 0 0 8px;
  }
  .heading {
    .name {
    }
    .role {
      margin: 0 0 0 12px;
      display: inline-block;
      padding-left: 12px;
      border-left: 1px solid;
    }
    .location {
      opacity: 0.6;
      font-size: 13px;
      &:before {
        content: ", ";
      }
      &:after {
        content: ", ";
      }
    }
    .period {
      opacity: 0.6;
      font-size: 13px;
    }
  }
  .fixed {
    right: 24px;
    z-index: 1;
    .btn:nth-child(n + 2) {
      margin-left: 4px;
    }
    .scroll-up {
      display: none;
    }
    &.top {
      top: 24px;
    }
    &.bottom {
      bottom: 24px;
    }
  }
  .section {
    padding-bottom: $space;
    border-bottom: 2px solid $cl-lightgrey;
    h3 {
      margin: $space 0 16px;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .block {
    margin-bottom: 12px;
    h4 {
    }
  }
  .editor {
    @include flex-width(1024px);
    margin: 0 auto;
    textarea {
      height: 100%;
      width: 100%;
      display: block;
      background-color: $cl-dark;
      padding: 4px 8px;
    }
  }
  .layout {
    @include flex-width(1024px);
    background-color: white;
    padding: $space $space;
    box-shadow: 0 0 8px white;
    color: $cl-grey;
    > .content .main .wrraper {
      .overview {
        height: $overview-h + $space;
        padding: 0 0 $space;
        display: flex;
        font-weight: 600;
        position: relative;
        .avatar {
          @include flex-width(120px);
          height: 120px;
          border-radius: 50%;
          background-image: url(/apps/oftien/assets/avatar.png);
          background-repeat: no-repeat;
          background-position: 0px -18px;
          background-size: 120px auto;
          margin-right: 24px;
        }
        .intro {
          font-weight: 400;
        }
        .quote {
          font-weight: 400;
          opacity: 0.6;
          &:before {
            content: "*** + ";
          }
          &:after {
            content: " ... ***";
          }
        }
        &:after {
          position: absolute;
          bottom: 0;
          content: "";
          display: block;
          height: 5px;
          width: 100%;
          background-color: $cl-grey;
          border-radius: 5px;
        }
      }
    }
    .left,
    .right {
      @include flex-width(210px);
      .wrraper {
        .contact {
          height: $overview-h + $space;
          padding: 0 0 $space;
          font-size: 13px;
          line-height: 16px;
          position: relative;
          display: flex;
          flex-direction: column;
          > * {
            display: block;
            margin-bottom: 1px;
          }
          a {
            text-decoration: none;
          }
          .website,
          .github,
          .email,
          .skype,
          .mobile,
          .address {
            &:before {
              content: "Website:";
              color: $cl-grey;
              width: 56px;
              display: inline-block;
            }
          }
          .github:before {
            content: "GitHub:";
          }
          .email:before {
            content: "Email:";
          }
          .skype:before {
            content: "Skype:";
          }
          .mobile:before {
            content: "Mobile:";
          }
          .address:before {
            content: "Address:";
          }
          .mobile {
            .sms {
              margin: 0 4px;
            }
          }
          &:after {
            position: absolute;
            bottom: 0;
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            background-color: $cl-lightgrey;
            border-radius: 5px;
          }
        }
      }
    }
    &.scrolling .fixed .scroll-up {
      display: inline-block;
    }
    &.Main_Right {
      > .content .main .wrraper {
        margin-right: $space;
      }
    }
    &.Left_Main {
      > .content .main .wrraper {
        margin-left: $space;
      }
    }
    &.Left_Main_Right {
      > .content .main .wrraper {
        .overview {
          .avatar {
            margin-left: $space/3;
          }
          .info {
            margin-right: $space/3;
          }
        }
        .section {
          padding: 0 $space/3;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .page.page-home-main {
    padding: 0;
    .layout {
      @include flex-width(100%);
      display: block;
      .left,
      .right {
        @include flex-width(100%);
        .wrraper .contact {
          height: fit-content;
          &:before {
            content: "Contact";
            color: $cl-highlight;
            line-height: 32px;
            font-size: 26px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 0 16px;
            padding-top: $space;
            display: block;
          }
          &:after {
            background-color: $cl-grey;
          }
        }
      }
      &.Left_Main,
      &.Main_Right {
        > .content .main .wrraper {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .page.page-home-main {
    .heading {
      .role {
        margin: 0 0;
        padding-left: 0;
        display: block;
        border-left: none;
      }
      .location {
        display: block;
        &:before {
          content: "";
        }
      }
      .period {
        display: block;
      }
    }
    .section {
      padding-bottom: 24px;
      h3 {
        margin: 24px 0 16px;
      }
    }
    .layout {
      padding: 24px 24px 12px;
      > .content .main .wrraper .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        text-align: center;
        padding-bottom: 24px;
        .avatar {
          margin: 0 0 12px;
        }
      }
      .left,
      .right {
        margin-top: 24px;
        .wrraper .contact {
          height: auto;
          padding-bottom: 24px;
          &:before {
            padding-top: 0;
          }
        }
      }
      &.Left_Main {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
      }
    }
  }
}

@media print {
  #root,
  .viewport,
  .fullscreen,
  .main-content {
    position: initial;
  }
  .page.page-home-main {
    background-color: #fff;
    display: block;
    padding: 0 0;
    .fixed {
      display: none;
    }
    .section {
      h3 {
        margin: 32px 0 16px;
      }
    }
    .layout {
      padding: 24px 24px;
      .left,
      .right {
        @include flex-width(280px);
        .wrraper .contact {
          // height: 176px - 56px + 24px;
        }
      }
      > .content .main .wrraper {
        margin-right: 24px;
        .overview {
          padding-bottom: 24px;
        }
      }
    }
  }
}
