@import "../../../../core/scss/index";

$space: 56px;
$s-space: 24px;
$overview-h: 125px;
$font-size-section-heading: 26px;
$section-border: 2px solid $cl-lightgrey;

$size-a4: 842px;

@mixin standard_layout {
  @include flex-width(100%);
  display: flex;
  flex-direction: column;
  height: fit-content;
  .left,
  .right {
    @include flex-width(100%);
    .wrraper {
      display: flex;
      flex-direction: column-reverse;
      height: fit-content;
      .contact {
        &:before {
          content: "Contact";
          color: $cl-highlight;
          line-height: 32px;
          font-size: $font-size-section-heading;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 0 16px;
          padding-top: $space;
          display: block;
          line-height: 24px;
          border-top: $section-border;
        }
        &:after {
          display: none;
        }
      }
      .sections {
        border-top: $section-border;
      }
    }
  }
  &.Left_Main,
  &.Main_Right,
  &.Left_Main_Right {
    > .content .main .wrraper {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
.page.page-home-main {
  background-image: url(/static/apps/oftien/assets/bg1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 4px 0;
  h2 {
    color: $cl-black;
    text-transform: uppercase;
  }
  h3 {
    text-transform: uppercase;
  }
  .layout-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .layout-option {
    @extend .btn;
    width: 36px;
    align-items: flex-start !important;
    justify-content: space-between !important;
    margin: $s-space 0 0 0 !important;
    padding: 0 !important;
    border: 1px solid $cl-black !important;
    box-shadow: 0 0 8px $cl-white !important;
    background-color: $cl-grey;
    overflow: hidden !important;
    &:before {
      content: "";
      @include flex-width(24px);
      height: 100%;
    }
    &:after {
      content: "";
      @include flex-width(12px);
      height: 100%;
      background-color: $cl-black;
    }
    &.Left_Main_Right {
      &:before {
        @include flex-width(9px);
        background-color: $cl-black;
      }
      &:after {
        @include flex-width(9px);
        background-color: $cl-black;
      }
    }
    &.Left_Main {
      flex-direction: row-reverse;
    }
    &:hover,
    &.active {
      border: 1px solid $cl-red !important;
      box-shadow: 0 0 8px $cl-red !important;
      .big {
        border-color: $cl-red;
      }
    }
  }
  .birthday {
    &:before {
      content: "Birthday: ";
      opacity: 0.5;
    }
  }
  .funny {
    font-size: 12px;
    opacity: 0.5;
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
  .contact {
    min-height: 100%;
    height: fit-content;
    border-bottom: none;
    padding-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    > * {
      display: flex;
      align-items: center;
      i {
        margin-left: 2px;
      }
    }
  }
  .location {
    opacity: 0.6;
    font-size: 13px;
    &:before {
      content: "|";
      margin: 0 4px;
    }
    &:after {
      content: "|";
      margin: 0 4px;
    }
  }
  .period {
    opacity: 0.6;
    * {
      font-size: 12px;
    }
    .start:after {
      content: "-";
      margin: 0 4px;
    }
  }
  .description {
    display: block;
  }
  .fixed {
    right: $s-space;
    z-index: 1;
    .btn:nth-child(n + 2) {
      margin-left: 4px;
    }
    .scroll-up {
      display: none;
    }
    &.top {
      top: $s-space;
    }
    &.bottom {
      bottom: $s-space;
    }
  }
  .section {
    padding-bottom: $space;
    border-bottom: $section-border;
    vertical-align: top;
    h3 {
      margin: $space 0 16px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .block {
    margin-bottom: 12px;
    vertical-align: top;
  }
  .editor {
    display: none;
  }
  .company {
    color: $cl-highlight;
    opacity: 1;
  }
  .experiences {
    .block > h4 {
      display: none;
    }
    .name {
      @extend .h4;
      color: $cl-red;
    }
    .role {
      @extend .h4;
      color: $cl-green;
      margin: 0 0 0 12px;
      display: inline-block;
      padding-left: 12px;
      border-left: 1px solid;
    }
    .location {
      color: $cl-blue;
    }
  }
  .projects {
    .block {
      display: inline-block;
      width: 50%;
      padding: 0 6px;
      .heading {
        color: $cl-black;
      }
      .name {
        display: none;
      }
      .role {
        color: $cl-green;
      }
      .company {
        color: $cl-red;
        &:before {
          content: " at ";
          color: $cl-black;
        }
      }
      .used {
        font-size: 12px;
        display: block;
        // color: $cl-yellow;
        &:before {
          content: "Used: ";
          opacity: 0.5;
        }
      }
    }
  }
  .layout {
    @include flex-width(1024px);
    background-color: white;
    padding: $space $space;
    box-shadow: 0 0 8px white;
    color: $cl-grey;
    > .content .main .wrraper {
      .overview {
        height: $overview-h + $space;
        padding: 0 0 $space;
        display: flex;
        position: relative;
        .avatar {
          @include flex-width(120px);
          height: 120px;
          border-radius: 50%;
          background-color: $cl-lightgrey;
          background-repeat: no-repeat;
          background-position: 0px -18px;
          background-size: 120px auto;
          margin-right: $s-space;
        }
        .intro {
          font-weight: 500;
        }
        .quote {
          font-weight: 400;
          opacity: 0.6;
          &:before {
            content: "*** + ";
          }
          &:after {
            content: " ... ***";
          }
        }
        &:after {
          position: absolute;
          bottom: 0;
          content: "";
          display: block;
          height: 5px;
          width: 100%;
          background-color: $cl-grey;
          border-radius: 5px;
        }
      }
    }
    .left,
    .right {
      @include flex-width(25%);
      .wrraper {
        .contact {
          height: $overview-h + $space;
          padding: 0 0 $space;
          .website,
          .github,
          .email,
          .skype,
          .mobile,
          .phone,
          .country,
          .state,
          .city,
          .postcode,
          .address,
          .address1,
          .address3 {
            &:before {
              content: attr(data-name) ": ";
              text-transform: capitalize;
              color: $cl-grey;
              width: 60px;
              display: inline-block;
              opacity: 0.5;
            }
          }
          .mobile {
            .sms {
              margin: 0 4px;
            }
          }
          &:after {
            position: absolute;
            bottom: 0;
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            background-color: $cl-lightgrey;
            border-radius: 5px;
          }
        }
      }
    }
    &.scrolling .fixed .scroll-up {
      display: inline-block;
    }
    &.Main_Right {
      > .content .main .wrraper {
        margin-right: $space;
      }
    }
    &.Left_Main {
      > .content .main .wrraper {
        margin-left: $space;
      }
    }
    &.Left_Main_Right {
      > .content .main .wrraper {
        .overview {
          .avatar {
            margin-left: $space/3;
          }
          .info {
            margin-right: $space/3;
          }
        }
        .section {
          padding: 0 $space/3;
        }
      }
    }
  }
  &.editing {
    min-height: 100%;
    justify-content: flex-start;
    padding: 0;
    .layout {
      @include standard_layout;
      @include flex-width(60%);
      flex-direction: column;
      height: fit-content;
      margin: 0;
      &.Left_Main {
        flex-direction: column-reverse;
      }
    }
    .editor {
      @include flex-width(40%);
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      .jsoneditor-container {
        display: flex;
        flex: 3;
        width: 100%;
        &.jsoneditor-container-settings {
          @include flex-height(230px);
        }
      }
    }
    .fixed.top {
      top: 34px;
    }
  }
  /*** screen 842px ~ ICO A4 ***/
  @media screen and (max-width: $size-a4) {
    padding: 0;
    .skills {
      .block {
        display: inline-block;
        width: 50%;
        padding: 0 6px;
      }
    }
    .layout {
      @include standard_layout;
      &.Left_Main {
        flex-direction: column-reverse;
      }
    }
    &.editing {
      .layout {
        @include flex-width(0%);
      }
      .editor {
        @include flex-width(100%);
      }
    }
  }
  /*** screen 768px ***/
  @media screen and (max-width: 768px) {
    .section {
      padding-bottom: $s-space;
      h3 {
        margin: $s-space 0 16px;
      }
    }
    .experiences {
      .role {
        font-size: 14px;
        padding-left: 0;
        margin-left: 4px;
        border-left: none;
        color: $cl-highlight;
      }
      .location {
        display: block;
        &:before,
        &:after {
          display: none;
        }
      }
    }
    .projects {
      .block {
        display: block;
        width: 100%;
        padding: 0 0;
      }
    }
    .skills {
      .block {
        display: block;
        width: 100%;
        padding: 0 0;
      }
    }
    .layout {
      padding: $s-space $s-space $s-space/2;
      > .content .main .wrraper .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        text-align: center;
        padding-bottom: $s-space;
        .avatar {
          margin: 0 0 $s-space/2;
        }
      }
      .left,
      .right {
        .wrraper .contact {
          padding-bottom: $s-space;
          &:before {
            padding-top: $s-space;
            margin-top: 0;
          }
        }
      }
      &.Left_Main {
        flex-direction: column-reverse;
      }
    }
  }
  /*** print ***/
  @media print {
    background-color: #fff;
    display: block;
    padding: 0 0;
    margin: 0 0;
    .no-printing,
    .funny {
      display: none !important;
    }
  }
  @media print and (max-width: $size-a4) {
    padding: $s-space $s-space;
    .section {
      padding-bottom: $s-space;
      h3 {
        margin: 32px 0 16px;
      }
    }
    .skills {
      .block {
        display: inline-block;
        width: 50%;
        padding: 0 6px;
      }
    }
    .layout,
    .layout.Left_Main,
    .layout.Main_Right,
    .layout.Left_Main_Right {
      @include standard_layout;
      @include flex-width(100%);
      padding: 0;
      .left,
      .right {
        .wrraper {
          .contact {
            margin-top: $s-space;
            &:before {
              margin: 0 0 $s-space/2;
              padding-top: $s-space;
            }
          }
        }
      }
      > .content .main .wrraper .overview {
        padding-bottom: $s-space;
      }
    }
    .layout.Left_Main {
      flex-direction: column-reverse;
    }
  }
}
@media print {
  #root,
  .viewport,
  .fullscreen,
  .main-content {
    position: initial;
  }
}
