@import "../../scss/index";

@mixin overview-small() {
  height: fit-content;
  display: block;
  .avatar {
    margin: 0 auto 12px;
  }
  .info {
    margin-right: var(--space) / 3;
    text-align: center;
  }
  &:after {
    display: none;
  }
}
@mixin style-main() {
  padding: 4px 0;
  height: 100%;
  overflow: auto;
  h2,
  h3 {
    text-transform: uppercase;
  }
  .left-banner {
    $left-banner-size: 28px;
    left: var(--sspace);
    top: var(--sspace);
    width: $left-banner-size;
    .word {
      color: var(--cl-primary);
      margin-bottom: $left-banner-size;
      &:hover {
        color: var(--cl-green);
      }
    }
    .letter {
      width: $left-banner-size;
      height: $left-banner-size;
      border-radius: 50%;
      margin: 0 0 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 4px;
      text-transform: uppercase;
      background-color: var(--cl-grey);
      cursor: pointer;
      &:hover {
        color: var(--cl-yellow);
        background-color: var(--cl-primary);
      }
    }
  }
  .layout-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 90px;
  }
  .layout-option {
    width: 36px;
    align-items: flex-start !important;
    justify-content: space-between !important;
    margin: var(--sspace) 0 0 0 !important;
    padding: 0 !important;
    border: 1px solid var(--cl-black) !important;
    box-shadow: 0 0 8px var(--cl-white) !important;
    background-color: var(--cl-grey);
    overflow: hidden !important;
    &:before {
      content: "";
      @include flex-width(24px);
      height: 100%;
    }
    &:after {
      content: "";
      @include flex-width(12px);
      height: 100%;
      background-color: var(--cl-black);
    }
    &.Left_Main {
      flex-direction: row-reverse;
    }
    &.Left_Main_Right {
      &:before {
        @include flex-width(9px);
        background-color: var(--cl-black);
      }
      &:after {
        @include flex-width(9px);
        background-color: var(--cl-black);
      }
    }
    &.Main {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
    &:hover,
    &.active {
      border: 1px solid var(--cl-red) !important;
      box-shadow: 0 0 8px var(--cl-red) !important;
      .big {
        border-color: var(--cl-red);
      }
    }
    &.active {
      background-color: var(--cl-primary);
    }
  }
  .birthday {
    &:before {
      content: "Birthday: ";
      opacity: var(--opacity);
    }
  }
  .funny {
    opacity: var(--opacity);
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
  .contact {
    .blocks * {
      display: flex;
      align-items: center;
      i {
        margin-left: 2px;
      }
    }
  }
  .name {
    color: var(--cl-primary) !important;
  }
  .role {
    color: var(--cl-primary2) !important;
  }
  .location {
    color: var(--cl-secondary) !important;
  }
  .period {
    * {
      opacity: var(--opacity);
    }
    .start:after {
      content: "-";
      margin: 0 4px;
    }
  }
  .description {
    display: block;
  }
  .fixed {
    right: var(--sspace);
    z-index: 1;
    background-color: transparent;
    .btn:nth-child(n + 2) {
      margin-left: 4px;
    }
    .scroll-up {
      display: none;
    }
    &.attop {
      top: var(--sspace);
    }
    &.atbottom {
      bottom: var(--sspace);
    }
  }
  .section + .section {
    &:after {
      display: none !important;
    }
  }
  .section {
    padding-bottom: var(--space);
    vertical-align: top;
    border-bottom: 1px solid var(--cl-border);
    h3 {
      margin: var(--space) 0 16px;
    }
    &:first-child {
      > h3 {
        margin-top: 0;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .editor {
    display: none;
  }
  .company {
    color: var(--cl-primary);
    opacity: 1;
  }
  .website,
  .github,
  .email,
  .skype,
  .mobile,
  .phone,
  .country,
  .state,
  .city,
  .postcode,
  .address,
  .address1,
  .address3 {
    &:before {
      content: attr(data-name) ": ";
      text-transform: capitalize;
      color: var(--cl-grey);
      width: 60px;
      opacity: var(--opacity);
    }
  }
  .mobile {
    .sms {
      margin: 0 4px;
    }
  }
  .education {
    .block {
      border-top: none;
      width: calc(100%);
    }
  }
  .experiences {
    .block {
      border-top: none;
      width: calc(100%);
      h4 {
        display: none;
      }
      .name {
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid;
      }
      .role {
        display: inline-block;
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid;
      }
      .location {
        display: inline-block;
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid;
      }
    }
  }
  .projects {
    .block {
      h4 {
        color: var(--cl-secondary2);
      }
      .name {
        display: none;
      }
      .company {
        &:before {
          content: " at ";
          color: var(--cl-black);
        }
      }
      .used {
        display: block;
        margin-top: calc(var(--sspace) / 4);
        &:before {
          content: "Used: ";
          opacity: var(--opacity);
        }
      }
    }
  }
  .block {
    display: inline-block;
    width: calc(50% - var(--sspace));
    padding: calc(var(--sspace) / 2) 0 0 0;
    margin-right: var(--sspace);
    border-top: 1px dashed var(--cl-border);
    vertical-align: top;
  }
  .overview {
    padding: 0 0 var(--space);
    display: flex;
    position: relative;
    .avatar {
      @include flex-width(120px);
      height: 120px;
      border-radius: 50%;
      background-color: var(--cl-lightgrey);
      background-repeat: no-repeat;
      background-position: 0px -18px;
      background-size: 120px auto;
      margin-right: var(--sspace);
    }
    .intro {
    }
    .quote {
      opacity: var(--opacity);
      &:before {
        content: "*** + ";
      }
      &:after {
        content: " ... ***";
      }
    }
    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: var(--cl-grey);
      border-radius: 5px;
    }
  }
  .layout {
    @include flex-width(1024px);
    background-color: white;
    padding: var(--space) var(--space);
    box-shadow: 0 0 8px white;
    color: var(--cl-grey);
    height: fit-content;
    .left,
    .right {
      @include flex-width(25%);
      .block {
        width: 100%;
        margin-right: 0;
      }
      .overview {
        @include overview-small();
      }
      .wrraper {
        height: fit-content;
      }
    }
    &.Main {
    }
    &.Main_Right {
      > .content .main .wrraper {
        margin-right: var(--space);
      }
    }
    &.Left_Main {
      > .content .main .wrraper {
        margin-left: var(--space);
      }
    }
    &.Left_Main_Right {
      > .content .main .wrraper {
        margin-right: var(--sspace);
        margin-left: var(--sspace);
        .overview {
          .avatar {
            margin-left: var(--space) / 3;
          }
          .info {
            margin-right: var(--space) / 3;
          }
        }
        .section {
          padding: 0 0;
          margin: 0 0;
        }
      }
      .block {
        width: calc(100%);
      }
    }
  }
  &.scrolling .fixed .scroll-up {
    display: inline-block;
  }
  &.editing {
    justify-content: flex-start;
    padding: 0;
    .layout {
      @include flex-width(60%);
      flex-direction: column;
      margin: 0;
    }
    .editor {
      @include flex-width(40%);
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      .jsoneditor-container {
        display: flex;
        flex: 3;
        width: 100%;
        &.jsoneditor-container-settings {
          @include flex-height(230px);
        }
      }
    }
    .fixed.top {
      top: 34px;
    }
    .fixed.layout-options {
      display: none;
    }
  }
  @media screen and (max-width: 960px) {
    padding: var(--sspace) 0;
    .layout {
      @include flex-width(100%);
      margin: 0;
      padding: 0;
    }
    .fixed.left-banner {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .layout.cols {
      flex-direction: column;
      .left,
      .content,
      .right {
        @include flex-width(100%);
        padding: 0 0;
      }
      .main {
        border-top: 1px solid var(--cl-border);
      }
    }
    .layout.cols {
      .wrraper,
      > .content .main .wrraper {
        padding: 0 var(--sspace);
        margin: 0;
        .section {
          padding-bottom: var(--sspace);
        }
        .section {
          padding-bottom: var(--sspace);
          h3 {
            margin-top: var(--sspace);
          }
        }
        .block {
          @include flex-width(100%);
          margin: 0;
        }
        .overview {
          @include overview-small();
          padding-top: var(--sspace);
        }
      }
    }
  }
}
:root {
  --space: 56px;
  --sspace: 24px;
  --cl-border: var(--cl-lightgrey);
}
.page.page-home-main {
  .experiences {
    .name {
      @extend .h4;
    }
    .role {
      @extend .h5;
    }
    .location,
    .period {
      @extend .smaller;
    }
  }
  .projects {
    .company,
    .role {
      @extend .smaller;
      opacity: var(--opacity);
    }
  }
  @include style-main();
}
/*** print ***/
@media print {
  :root {
    --space: 24px;
    --sspace: 12px;
  }
  body.route {
    #root,
    .viewport,
    .fullscreen,
    .main-content {
      position: initial;
    }
    .page.page-home-main {
      @include style-main();
      padding: 0 0;
      .layout {
        @include flex-width(100%);
        margin: 0;
        padding: 0;
      }
    }
  }
}
